{% extends "layout.twig" %}

{% block pageheader %}
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Bienvenue</h2>
                <h3>Liste des commentaires du post</h3>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container px-4 px-lg-5">
        <table style="width: 100%">
            <tr>
                <td><strong>Auteur</strong></td>
                <td><strong>Contenu</strong></td>
                <td><strong>Date de modification</strong></td>
                <td><strong>Statut</strong></td>
            </tr>
            {% for comment in comments %}
                <form id="CommentForm{{ comment.id }}" method="POST">
                    <tr>
                        <td>{{ comment.user.alias }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.createdAt | date('m/d/Y H:i:s') }}</td>
                        <td>{{ comment.isValidated ? 'Validé' : 'Non validé' }}</td>
                        <td>
                            <input type="submit" id="status-form" name="status-form" value="Changer Statut">
                            <input type="hidden" id="comment-id" name="comment-id" value="{{ comment.id }}">
                            <input type="hidden" id="comment-status" name="comment-status" value="{{ comment.isValidated ? 1 : 0 }}">
                        </td>

                    </tr>
                </form>
            {% endfor %}
        </table>
    </div>
{% endblock %}