{% extends "layout.twig" %}

{% block pageheader %}
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>Liste des commentaires de l'utilisateur <strong>{{ user.alias }}</strong></h3>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <a href="/admin/users"  class="btn btn-primary col-md-2 col-sm-6 text-uppercase">Retour</a>
            <table style="width: 100%">
                <tr>
                    <td><strong>Article</strong></td>
                    <td><strong>Commentaire</strong></td>
                    <td><strong>Date de modification</strong></td>
                    <td><strong>Statut</strong></td>
                </tr>
                {% for comment in listComments %}
                    <!--<form id="CommentForm{{ comment.id }}" method="POST">-->
                        <tr>
                            <td>{{ comment.post.title }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{ comment.createdAt | date('d/m/Y H:i:s') }}</td>
                            <td>{{ comment.isValidated ? '<p style="color:green;">Validé</p>' : '<p style="color:red;">Non validé</p>' }}</td>
                            <td>
                                <!--<input type="submit" class="btn btn-danger btn-sm" id="status-form" name="status-form" value="Changer Statut">
                                <input type="hidden" id="comment-id" name="comment-id" value="{{ comment.id }}">
                                <input type="hidden" id="comment-status" name="comment-status" value="{{ comment.isValidated ? 1 : 0 }}">-->

                                <!-- Input pour accèder au modal de changement de statut -->
                                <input class="btn btn-danger btn-sm" type="button" id="status-form" name="status-form" data-bs-toggle="modal" data-bs-target="#exampleModal{{ comment.id }}" value="Changer Statut">
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Changement de Status</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sur de vouloir modifier le statut de ce commentaire ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                                <form name="statusComment{{ comment.id }}" method="POST">
                                                    <button type="submit" class="btn btn-primary">Oui</button>
                                                    <input type="hidden" id="comment-id" name="comment-id" value="{{ comment.id }}">
                                                    <input type="hidden" id="comment-status" name="comment-status" value="{{ comment.isValidated ? 1 : 0 }}">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    <!--</form>-->
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}