{% extends "layout.twig" %}

{% block pageheader %}
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center text-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Bienvenue</h2>
                <h3>Liste des Posts</h3>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container px-4 px-lg-5">
        <table style="width: 100%">
            <tr>
                <td><strong>Titre</strong></td>
                <td><strong>Chapo</strong></td>
                <td><strong>Date de modification</strong></td>

            </tr>
            {% for post in listPost %}
                <form>
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.chapo }}</td>
                        <td>{{ post.updatedAt | date('m/d/Y') }}</td>
                        <td><a href="admin/posts-comments/{{ post.id }}">commentaires</a></td>                    <!-- Ajouter la page de la liste des commentaires <a href="posts/{{ post.id }}-{{ post.slug }}"> -->
                        <td><a href="">éditer</a></td>                          <!-- Ajouter la page d'édition du post -->
                        <td>
                            <input type="button" id="post-form" name="post-form" value="supprimer">
                            <input type="hidden" value="{{ post.id }}">
                        </td>
                    </tr>
                </form>
                <!--<div class="post-preview">
                    <a href="posts/{{ post.id }}-{{ post.slug }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.chapo }}</h3>
                        -->
            {% endfor %}

        </table>
    </div>
{% endblock %}