{% extends "layout.twig" %}

{% block pageheader %}
<header class="masthead" style="background-image: url('../../../assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <img src="../../../assets/img/1643627862688.jpg" class="rounded-circle" alt="ui" style="max-width: 30%">
                    <h1>Dylan Sardi</h1>
                    <span class="subheading">Votre développeur PHP/Symfony</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 >Qui suis-je ?</h2>
            <p>Je suis Dylan SARDI, développeur web, et actuellement en formation PHP/Symfony avec OpenClassrooms.</p>
            <p>J'ai effectué un BTS Service Informatique aux Organisations option Développement puis une Licence Professionnelle Métier de l'Informatique : Développement, Conception et Tests Logiciels.</p>
            <p>Vous pouvez retrouver mon parcours et mes compétences ci-dessous.</p>
            <div style="text-align: center;">
                <a href="../../../CV-DYLAN-SARDI.pdf"><button type="button" class="btn btn-dark">CV</button></a>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <h2>Derniers Articles :</h2>
            {% for post in listPost %}
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="posts/{{ post.id }}-{{ post.slug }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.chapo }}</h3>
                    </a>
                    <p class="post-meta">
                        Posté le {{ post.updatedAt | date('m/d/Y') }} par {{ post.user.alias }}
                    </p>
                </div>
                <hr class="my-4" /> 
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="posts">Tout les Articles →</a></div>
        </div>
    </div>
</div>
{% endblock %}