{% extends "layout.twig" %}

{% block pageheader %}
<header class="masthead" style="background-image: url('../../../assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.chapo }}</h2>
                    <span class="meta">
                        Posté le {{  post.updatedAt|date('d-m-Y') }} à {{ post.updatedAt|date('H:i') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <!-- Main Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </article>
    <!-- Form Comment -->
    <div id="form-comments" class="mb-4 container px-4 px-lg-5">
        <h4>Commentaires</h4>
        {% if isLogged == true %}
        <form id="addCommentForm" method="POST" class="row gx-4 gx-lg-5 justify-content-center">
            <div class="form-floating my-2">
                <input class="form-control" id="comment-text" name="comment-text" type="text" placeholder="Titre..." required/>
                <label for="comment-text">Commentaire</label>
            </div>
            <input type="hidden" id="comment-form" name="comment-form" value="1">
            <br/>
            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
        </form>
        {% else %}
        <p class="row gx-4 gx-lg-5 justify-content-center">Vous devez être connecté pour commenter.</p>
        {% endif %}
    </div>
    <!-- Comments -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            {% for comment in comments %}
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="card">
                    <h5>{{ comment.user.alias }}</h5>
                    <p>Posté le {{ comment.createdAt|date('d-m-Y')  }} à {{ comment.createdAt|date('H:i') }}<br>
                        {{ comment.content }}
                    </p>
                </div>
                <hr class="my-4" /> 
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
    